.box {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    border: 1px solid black;
    overflow: hidden;
}

.ColorBoxes{
    border: 1px dotted black;
    text-align: center;
    margin-top: 50px;
}

.Changed {
    background-color: black;
    color: white;
}